* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 27px;
    z-index: 9;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding-left: 41px;
}

nav ul li a {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #010101;
}

li {
    list-style: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button-header {
    margin-left: 33px;
    width: 108px;
    height: 36px;
    background-color: #ED017F;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.container-left {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 802px;
}

.content-1 {
    margin: 200px 0px 0px 350px;
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 63px;
    line-height: 68px;
    color: #010101;
    width: 500px;
}

.text-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #676767;
    width: 380px;
    margin-top: 23px;
    margin-bottom: 38px;
}

.button-container-left-1 {
    width: 157px;
    height: 46px;
    background-color: #ED017F;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.button-container-left-2 {
    width: 188px;
    height: 46px;
    border: 1px solid #ED017F;
    border-radius: 4px;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #ED017F;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 185px;
}

.call-img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.call-text {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #010101;
}

canvas {
    width: 24px;
    height: 0px;
    border: 1px solid #CCCCCC;
    transform: rotate(90deg);
    position: relative;
    top: 10px;
    margin-left: 18px;
}

.social-img {
    gap: 13px;
    display: flex;
    padding-left: 6px;
}

.container-right {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 802px;
}

.img-right {
    float: right;
}

.right-button-1 {
    position: absolute;
    margin: 256px 0px 0px 700px;
    width: 204px;
    height: 71px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 56px;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-button-2 {
    margin: 457px 0px 0px 850px;
    position: absolute;
    transform: rotate(90deg);
}

.container-bottom-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-bottom-text-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #343434;
    margin-top: 20px;
}

.container-bottom-text-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    margin-top: 20px;
}

.container-itens-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin-top: 76px;
}

/** C-1-ITEM-1 **/
.i-1-text-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-1-text-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-1-ITEM-2 **/
.i-2-text-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-2-text-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-1-ITEM-3 **/
.i-3-text-5 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-3-text-6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-1-ITEM-4 **/
.i-4-text-7 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-4-text-8 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

.container-itens-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin-top: 76px;
}

/** C-2-ITEM-1 **/
.i-1-text-9 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-1-text-10 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-2-ITEM-2 **/
.i-2-text-11 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-2-text-12 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-2-ITEM-3 **/
.i-3-text-13 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-3-text-14 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

/** C-2-ITEM-4 **/
.i-4-text-15 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
    margin: 18px 0px 10px 0px;
}

.i-4-text-16 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    width: 160px;
}

.container-partners {
    margin-top: 100px;
    background-color: rgba(252, 224, 239, 0.2);
}

.partners {
    display: flex;
    justify-content: center;
}

.partners-text {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2.1px;
    color: #343434;
}

.partners-img {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 88px 0px 60px 0px;
}

.selection-button {
    display: flex;
    justify-content: center;
}

.container-portfolio-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 106px;
}

.container-portfolio-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 760px;
}

.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #343434;
    margin-bottom: 20px;
}

.portflio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    text-align: center;
}

.container-portfolio-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 84px;
    margin-bottom: 55px;
}

.c-p-3-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #ED017F;
}

.c-p-3-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-4-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-4-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-5-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-5-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-6-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-6-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-7-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-7-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-8-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-8-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-9-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-9-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.c-p-10-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
}

.c-p-10-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #676767;
}

.container-portfolio-4 {
    display: flex;
    justify-content: space-around;
}

.container-form {
    background-color: #FEF9FC;
    height: 403px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.container-form-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #343434;
}

.form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    margin: 20px 0px 34px 0px;
    text-align: center;
}

.search {
    width: 343px;
    height: 46px;
    color: #343434;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

.subscribe {
    width: 132px;
    height: 46px;
    background-color: #ED017F;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.container-footer {
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.footer-1 {
    width: 180px;
}

.footer-1-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #010101;
}

.footer-1-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    margin: 20px 0px 57px 0px;
}

.footer-1-social {
    gap: 20px;
    display: flex;
}

.footer-2 {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-2-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

.footer-2-link-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-2-link-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-2-link-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-2-link-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-2-link-5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-3 {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-3-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

.footer-3-link-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-3-link-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-3-link-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-3-link-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-3-link-5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}


.footer-4 {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-4-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

.footer-4-link-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-4-link-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-4-link-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-4-link-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-4-link-5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.footer-5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.call-img-2 {
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.call-text-2 {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #010101;
}